* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  border-bottom: 2px solid black;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 140px;
  margin-right: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

nav ul li {
  color: #000;
  text-decoration: none;
  padding: 10px;
  font-size: 1.7rem;
  font-weight: 600;
  cursor: pointer;
}

nav ul li:hover {
  text-decoration: underline;
}

/* Styling hero section */
.hero {
  width: 100%;
  display: flex;
  height: calc(100vh - 60px);
  border-bottom: 2px solid black;
}

.image-wrapper1, .image-wrapper2{
  background-color: #f2f3f8;
  width: 50%;
  position: relative;
}


.left-hero, .right-hero {
  position: absolute;
  bottom: 20%;
  left: 10%;
  z-index: 2;
}

.hero h2, .hero h3 {
  font-size: 2rem;
  font-weight: 600;
}

.hero h3{
  margin-left: 5px;
  margin-bottom: 15px;
}

.hero button {
  border: 1.5px solid black;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 250ms ease-in-out;
}

.hero button:hover{
  color: #f2f3f8;
  background-color: #000;
} 

.hero img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.banner1 {
  border-right: 2px solid black;
}

.hero i {
  margin-left: 4px;
}

/* styling products new arrivals  */

.new-arrivals {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 5rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

#product-container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

/* style product card  */
.product-card {
  border: 1px solid #ddd;
  text-align: center;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #f2f3f8;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 2px solid black;
}

.product-card h2 {
  font-size: 1.5rem;
  margin: 5px 0px;
  color: #333;
  margin-left: 5px;
}

.cart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 5px;
}

.product-card p {
  font-size: 1.5rem;
  color: #000;
  text-align: center;
}

.cart button {
  background-color: #000;
  color: #f2f3f8;
  border: 2px solid #f2f3f8;
  padding: 8px 15px;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  align-self: flex-end;
  transition: all 200ms ease-in-out;
}

.product-card button:hover {
  background-color: #f2f3f8;
  color: #000;
  border: 2px solid black;
}

/* styling shopping cart section  */
#shopping-cart-section{
  margin: 50px;
}

#shopping-cart-section h2{
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 5px;
  color: #323332;
}

#shopping-cart-section h3{
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 25px;
}

#shoppin-cart-section strong {
  font-weight: 700;
}

/* styling cart container  */

.cart-container {
  display: grid;
  gap: 20px;
  padding: 20px;  
  border: 2px solid black;
  border-radius: 15px;
  background-color: #f2f3f8;
  max-width: 100vw;
  overflow: hidden;
}

.cart-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-weight: bold;
  padding-bottom: 10px;
}

.cart-header-item {
  text-align: center;
  font-size: 1.5rem;
  color: #131313;
}

.cart-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  border-bottom: 1px solid #b3b3b3;
  padding: 15px 0;
}

.cart-item-product {
  text-align: center;
  width: 230px;
}


.cart-item-product img {
  height: 100%;
  width: 50%;
  border-radius: 15px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.cart-item-product p {
  font-size: 1.5rem;
  font-weight: 700;
}

.cart-item-price,
.cart-item-quantity,
.cart-item-total {
  text-align: center;
}

.cart-item-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cart-item-quantity p {
  font-size: 1.4rem;
  font-weight: 500;
}

.cart-item-quantity button {
  background-color: transparent;
  padding: 2px 5px;
  border: none;
  border-radius: 5px;
  border: 2px solid #8c8c8c;
  color: #8c8c8c;
  cursor: pointer;
}

.cart-item-price {
  font-size: 1.5rem;
  font-weight: 600;
  color: #363638;
}

.cart-item-total{
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 1.5;
  color: hsl(36, 100%, 70%);
}


.cart-totals {
  margin-top: 20px;
  padding: 10px;
  border-top: 2px solid black;
}

.cart-total-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.cart-total-item p {
  font-size: 1.6rem;
  font-weight: bold;
}

.cart-checkout {
  margin-top: 20px;
  text-align: right;
}

#checkout-btn {
  padding: 10px 20px;
  font-size: 1.6rem;
  background-color: #000;
  color: #f2f3f8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid black;
  transition: all 200ms ease-in-out;
}

#checkout-btn:hover {
   background-color: #f2f3f8;
  color: #000;
}

/* styling checkout form  */
.checkout-container {
    width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f2f3f8;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
}

.checkout-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #131313;
    font-size: 3rem;
    font-weight: 600;
}

#checkout-form h3 {
    margin-bottom: 10px;
    color: #323232;
    font-size: 2rem;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    font-size: 1.3rem;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

.order-summary {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.order-summary p {
    margin: 0 0 10px;
    font-size: 16px;
    color: #333;
}

.order-summary p strong {
    font-size: 18px;
}

.checkout-btn {
    width: 100%;
    padding: 12px;
    background-color: #000;
    color: #f2f3f8;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-btn:hover {
    background-color: #f2f3f8;
    color: #000;
}

/* styling order confirmation card  */
.confirmation-card {
  margin: 40px auto;
}

.order-card {
  width: 330px;
  background-color: #f2f3f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

.confirm {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #4caf50;
  color: #f2f3f8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  padding: 10px;
}

.order-card h3 {
  font-size: 2.5rem;
  color: #131313;
}
.order-card p {
  text-align: center;
  font-size: 1.5rem;
  color: #363638;
  line-height: 1.3;
}

#go-shop {
  padding: 10px 20px;
  font-size: 1.6rem;
  background-color: #000;
  color: #f2f3f8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid black;
  transition: all 200ms ease-in-out;
}

#go-shop:hover {
   background-color: #f2f3f8;
  color: #000;
}



/*  media queries for small devices  */
@media screen and (max-width: 600px) {
  header {
    padding: 20px 10px;
  }
  .logo img {
    width: 80px;
  }

  nav ul {
    gap: 10px;
  }

  nav ul li a {
    font-size: 1.5rem;
  }

  .hero {
    margin: 0px;
    border: none;
    height: 55vh;
  }

  .image-wrapper1{
    width: 100vw;
    border-bottom: 2px solid black;
    overflow-x: hidden;
    height: 100%;
    margin: 0px;
  }

  .hero img {
    width: 100%;
    position: absolute;
    right: -30px;
    border-right: none;
  }


  .image-wrapper2 {
    display: none;
  }

  .left-hero {
    left: 10px;
  }

  .new-arrivals{
    margin: 5rem auto;
  }

  .new-arrivals h1 {
    border-top: none;
  }

  .product-card {
    width: 300px;
  }

  #shopping-cart-section {
    margin: 20px 5px;
  }

  .cart-header {
    display: none;
  }

  .cart-item {
    overflow-x: auto;
    gap: 40px;
  }

  .cart-item-product {
    width: 180px;
  }

.cart-item-price{
  text-align: left;
}

.cart-item-quantity,
.cart-item-total {
  text-align: center;
}

.checkout-container{
  max-width: 100vw;
  margin-inline: auto;
  width: 95%;
}
}
